extends ../layout

block content
    h1.
         #{title}
    ul
        - each message, i in messages
            li
                = message.id
                
                form(action='/api/messages/#{message._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/api/messages/#{message._id}/edit') Edit
                p
                    a(href='/api/messages/#{empId}/detail/#{message.id}') Show Details
                